<%- include('./partials/header') %>

<div class="container mt-5 text-center">
  <h1 class="display-4 text-danger">⚠️ Oops!</h1>
  <p class="lead"><%= message || "Something went wrong!" %></p>

  <a href="/" class="btn btn-outline-primary mt-3">Go Back Home</a>
</div>

<%- include('./partials/footer') %>
